$navy:          #00004f;
$red:           #d42600;
$decode-orange: #d95917;
$orange:        #f08500;
$white:         #FBFBFB;
$gray:          #e5e5e5;
$dark-gray:     #7c7c7c;
$light-orange:  #FCE7D1;
$light-decode-orange: rgba(217, 89, 23, .5);
$blue: rgb(30, 144, 255);
$modal-bg: rgba(8, 8, 16, 0.65);
