
$nav-dash-min-width: 4rem;
$nav-dash-max-width: 12rem;
$dash-padding: 1rem;
$nav-height: 11.5vw;
$nav-height-sm: 8rem;
$nav-height-md: 13.5vw;
$nav-height-lg: 20vw;
$nav-min-height: 6vw;
$nav-min-height-md: 10vw;
$nav-min-height-rem: 4rem;
$menu-height: 2rem;
$statuses-width: 10rem;
$footer-height: 15rem;
$footer-height-max: 26rem;
$input-height: 2.4rem;
$b-radius: .4rem;

$home-label-sm: .8vw;

// screen width sizes
$extra-small: 36em; // 576px
$small: 48em;       // 768px
$medium: 62em;      // 992px
$large: 75em;       // 1200px
$extra-large: 90em; // 1440px
