<p><%= t('.hello') %></p>

<p><%= t('.finished_document', title: @document.title, href: link_to(t('.here'), document_url(id: @document.id))).html_safe %></p>

<p><%= t('.case_not_able') %></p>

<p><%= t('.thanks') %></p>
