<%# --------------------- ONBOARDING TUTORIAL - STEP 6 ---------------------- %>
<div id="dashboard-tutorial6" class="pt-3 dashboard-tutorial-card d-none">
  <i class="fas fa-times tutorial-close-button" data-action= "click->onboarding#hideTutorial" data-current-highlight= 'navbar-documents'></i>
  <div class="flex-grow-1 d-flex flex-column justify-content-center">
    <i class="fas fa-language"></i>
    <h3 class="upcase mt-4 mb-3 tutorial-label"><%= t('tutorial.dashboard.open_document') %></h3>
    <p class="pb-3"><%= t('tutorial.dashboard.edit_and_download') %></p>
  </div>
  <div class="dashboard-tutorial-controls d-flex justify-content-between">
    <%= link_to t('tutorial.dashboard.previous'),
                "#",
                class: 'btn-navy-border me-2',
                data: { action: 'click->onboarding#previousStep',
                        current_number: 6,
                        current_highlight: 'navbar-documents',
                        previous_step_highlight: 'navbar-documents',
                        manager_or_owner: (current_user.manager? || current_user.owner?) } %>
    <%= link_to t('tutorial.dashboard.finish_tutorial'),
                "#",
                class: 'btn-navy-border',
                data: { action: 'click->onboarding#hideTutorial',
                        current_number: 6,
                        current_highlight: 'navbar-documents' } %>
  </div>
</div>
